* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #EDDBC7;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
header h2 {
  padding: 2rem;
}
#logo {
  text-decoration: none;
  color: black;
  align-items: center;
  text-align: center;
  color: #473C33;
  font-size: 4rem;
  text-shadow:0 0 10px rgba(0,0,0,0.3)
}
.search-form {
  padding: 2rem;
  display: flex;
}
.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(74, 68, 131);
}
.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}
.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 27.75rem;
  filter: grayscale(100%);
  box-shadow: 0 0 20px #333;
  border-radius:10px;
  object-fit: cover;
}

.gallery-img:hover {
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #333);
  
}
.gallery-img img:hover {
  filter: grayscale(0%);

}


.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width : 580px){
  main{
    width:360px;
    justify-content: center;

  }
  .search-form input {
  
    width: 100%;
    
  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    width: 5rem;
    margin: auto;
    row-gap: 4rem;
    column-gap: 2rem;
  }
}